# Using Pandas With a Remote MySQL Server

We can do this only if we have access via the firewall -- they are normally blocking port 3306 which is needed for connecting to a SQL server.

In [6]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

You need to "pip install" pymysql. Open a terminal window (not the one that is running your Jupyter notebook server) and type "pip install pymysql".

In [7]:
import pymysql

In [8]:
server = "analyst-toolbelt.cn119w37trlg.eu-west-1.rds.amazonaws.com"
username = "emlyon1"
password = "student1"

In [9]:
## we have 2 others - emlyon2 and student2, and emlyon3 and student3

In [18]:
connection = pymysql.connect(host=server,
                             user=username,
                             password=password,
                             db='movies',
                             charset='utf8')

In [19]:
SQL = "Select * from movies where genres like '%Action%'"

In [20]:
movies = pd.read_sql(SQL, connection)

In [14]:
movies

,movieId,title,genres
0,6,Heat (1995),Action|Crime|Thriller
1,9,Sudden Death (1995),Action
2,10,GoldenEye (1995),Action|Adventure|Thriller
3,15,Cutthroat Island (1995),Action|Adventure|Romance
4,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
5,23,Assassins (1995),Action|Crime|Thriller
6,42,Dead Presidents (1995),Action|Crime|Drama
7,44,Mortal Kombat (1995),Action|Adventure|Fantasy
8,66,Lawnmower Man 2: Beyond Cyberspace (1996),Action|Sci-Fi|Thriller
9,70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
10,71,Fair Game (1995),Action
11,76,Screamers (1995),Action|Sci-Fi|Thriller
12,78,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller
13,86,White Squall (1996),Action|Adventure|Drama
14,89,Nick of Time (1995),Action|Thriller
15,95,Broken Arrow (1996),Action|Adventure|Thriller
16,98,Shopping (1994),Action|Thriller
17,110,Braveheart (1995),Action|Drama|War
18,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime
19,145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller
20,151,Rob Roy (1995),Action|Drama|Romance|War
21,153,Batman Forever (1995),Action|Adventure|Comedy|Crime
22,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi
23,163,Desperado (1995),Action|Romance|Western
24,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
25,168,First Knight (1995),Action|Drama|Romance
26,170,Hackers (1995),Action|Adventure|Crime|Thriller
27,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller
28,173,Judge Dredd (1995),Action|Crime|Sci-Fi
29,181,Mighty Morphin Power Rangers: The Movie (1995),Action|Children
...,...,...,...
1515,136800,Robot Overlords (2014),Action|Adventure|Sci-Fi
1516,136816,Bad Asses on the Bayou (2015),Action|Comedy
1517,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Fantasy|Sci-Fi
1518,138036,The Man from U.N.C.L.E. (2015),Action|Adventure|Comedy
1519,139130,Afro Samurai (2007),Action|Adventure|Animation|Drama|Fantasy
1520,139642,Southpaw (2015),Action|Drama
1521,140711,American Ultra (2015),Action|Comedy|Sci-Fi|Thriller
1522,143472,Into the Grizzly Maze (2015),Action|Horror|Thriller
1523,146309,The Boy and the Beast (2015),Action|Adventure|Animation
1524,147426,?tiraz?m Var (2014),Action|Crime|Drama
1525,148168,Pek Yak?nda (2014),Action|Comedy|Drama
1526,149406,Kung Fu Panda 3 (2016),Action|Adventure|Animation
1527,149612,Swelter (2014),Action|Drama|Thriller
1528,150401,Close Range (2015),Action|Crime
1529,150548,Sherlock: The Abominable Bride (2016),Action|Crime|Drama|Mystery|Thriller
1530,152079,London Has Fallen (2016),Action|Crime|Thriller
1531,152081,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
1532,156607,The Huntsman Winter's War (2016),Action|Adventure|Drama|Fantasy
1533,157407,I Am Wrath (2016),Action|Crime|Drama|Thriller
1534,158956,Kill Command (2016),Action|Horror|Sci-Fi
1535,159093,Now You See Me 2 (2016),Action|Comedy|Thriller
1536,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy
1537,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi
1538,160271,Central Intelligence (2016),Action|Comedy
1539,160438,Jason Bourne (2016),Action
1540,160563,The Legend of Tarzan (2016),Action|Adventure
1541,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
1542,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi
1543,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi
1544,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi

In [21]:
SQL = "Select * from tags Limit 10"

In [22]:
movies = pd.read_sql(SQL, connection)

In [23]:
movies

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765
5      15    35957                    short  1141391873
6      15    37729               dull story  1141391806
7      15    45950               powerpoint  1169616291
8      15   100365                 activist  1425876220
9      15   100365              documentary  1425876220

In [32]:
connection = pymysql.connect(host=server,
                             user=username,
                             password=password,
                             db='tweets',
                             charset='utf8')

In [35]:
pd.read_sql('show tables', connection)

  Tables_in_tweets
0            adobe
1        capgemini
2            cisco
3        forrester
4  generalelectric
5            intel
6           oracle
7       salesforce

In [65]:
query = 'select * from adobe'

In [66]:
cur = connection.cursor()

In [67]:
cur.execute(query)

3039

In [68]:
cur.fetchone()

(datetime.datetime(2017, 2, 24, 0, 0, 12),
 '',
 '',
 'Fri Feb 24 00:00:12 +0000 2017',
 "{'symbols': [], 'hashtags': [{'text': 'SocialMedia', 'indices': [19, 31]}, {'text': 'brands', 'indices': [69, 76]}, {'text': 'contentmarketing', 'indices': [87, 104]}, {'text': 'DigitalMarketing', 'indices': [105, 122]}], 'user_mentions': [{'id': 19478383, 'id_str': '19478383', 'name': 'Sean Gardner \xadЪїљ', 'screen_name': '2morrowknight', 'indices': [3, 17]}, {'id': 63786611, 'id_str': '63786611', 'name': 'Adobe', 'screen_name': 'Adobe', 'indices': [126, 132]}], 'urls': []}",
 '',
 0,
 'False',
 '',
 834915797470425090,
 834915797470425090,
 '',
 '',
 '',
 '',
 '',
 'False',
 'en',
 "{'iso_language_code': 'en', 'result_type': 'recent'}",
 '',
 '',
 '',
 '',
 '',
 5,
 'False',
 '"{\'geo\': None, \'truncated\': True, \'source\': \'<a href=""http://twitter.com/download/android"" rel=""nofollow"">Twitter for Android</a>\', \'id\': 834913115095576576, \'id_str\': \'834913115095576576\', \'in_reply_to_status_id_str\': None, \'favorite_count\': 18, \'lang\': \'en\', \'in_reply_to_user_id\': None, \'created_at\': \'Thu Feb 23 23:49:33 +0000 2017\', \'place\': None, \'user\': {\'listed_count\': 16822, \'default_profile\': False, \'has_extended_profile\': True, \'url\': \'https://t.co/KAd7PofRXt\', \'id_str\': \'19478383\', \'utc_offset\': -28800, \'lang\': \'en\', \'profile_background_tile\': False, \'contributors_enabled\': False, \'profile_text_color\': \'333333\', \'profile_background_image_url\': \'http://pbs.twimg.com/profile_background_images/378800000105445673/a27987133fe3abef2fb156a07753b629.gif\', \'profile_banner_url\': \'https://pbs.twimg.com/profile_banners/19478383/1444767545\', \'created_at\': \'Sun Jan 25 04:58:19 +0000 2009\', \'verified\': False, \'description\': \'World Traveler, VP of Digital @WorldCommForum, Digital Producer @TwinStarCU, Keynote Speaker, #GivingTuesday Ambassador; working w/ @RashaGoel on a documentary\', \'statuses_count\': 121028, \'is_translation_enabled\': False, \'default_profile_image\': False, \'profile_background_color\': \'EBEBEB\', \'time_zone\': \'Pacific Time (US & Canada)\', \'translator_type\': \'regular\', \'friends_count\': 551806, \'protected\': False, \'profile_background_image_url_https\': \'https://pbs.twimg.com/profile_background_images/378800000105445673/a27987133fe3abef2fb156a07753b629.gif\', \'geo_enabled\': True, \'screen_name\': \'2morrowknight\', \'entities\': {\'url\': {\'urls\': [{\'url\': \'https://t.co/KAd7PofRXt\', \'expanded_url\': \'https://www.instagram.com/2morrowknight/\', \'display_url\': \'instagram.com/2morrowknight/\', \'indices\': [0, 23]}]}, \'description\': {\'urls\': []}}, \'favourites_count\': 85193, \'id\': 19478383, \'profile_sidebar_fill_color\': \'F3F3F3\', \'profile_link_color\': \'990000\', \'following\': None, \'profile_use_background_image\': True, \'follow_request_sent\': None, \'profile_image_url_https\': \'https://pbs.twimg.com/profile_images/639140343963717632/exmj8km4_normal.jpg\', \'is_translator\': False, \'notifications\': None, \'profile_sidebar_border_color\': \'FFFFFF\', \'name\': \'Sean Gardner \xadЪїљ\', \'followers_count\': 927262, \'profile_image_url\': \'http://pbs.twimg.com/profile_images/639140343963717632/exmj8km4_normal.jpg\', \'location\': \'Seattle, airports or 35,000 ft\'}, \'contributors\': None, \'retweet_count\': 5, \'in_reply_to_user_id_str\': None, \'is_quote_status\': False, \'entities\': {\'symbols\': [], \'hashtags\': [{\'text\': \'SocialMedia\', \'indices\': [0, 12]}, {\'text\': \'brands\', \'indices\': [50, 57]}, {\'text\': \'contentmarketing\', \'indices\': [68, 85]}, {\'text\': \'DigitalMarketing\', \'indices\': [86, 103]}], \'user_mentions\': [{\'id\': 63786611, \'id_str\': \'63786611\', \'name\': \'Adobe\', \'screen_name\': \'Adobe\', \'indices\': [107, 113]}], \'urls\': [{\'url\': \'https://t.co/upGU9MiHmE\', \'expanded_url\': \'https://twitter.com/i/web/status/834913115095576576\', \'display_url\': \'twitter.com/i/web/status/8Рђд\', \'indices\': [117, 140]}]}, \'retweeted\': False, \'in_reply_to_status_id\': None, \'possibly_sensitive\': False, \'text\': \'#SocialMedia marketing remains a top priority for #brands in 2017.\\n\\n#contentmarketing #DigitalMarketing RT @Adobe cРђд https://t.co/upGU9MiHmE\', \'favorited\': False, \'in_reply_to_screen_name\': None, \'coordinates\': None, \'metadata\': {\'iso_language_code\': \'en\', \'result_type\': \'recent\'}}"',
 '"<a href=""http://www.jeffbeale.com/"" rel=""nofollow"">mrmarketology</a>"',
 '"RT @2morrowknight: #SocialMedia marketing remains a top priority for #brands in 2017.\n\n#contentmarketing #DigitalMarketing RT @Adobe cc @koРђд"',
 'False',
 "{'listed_count': 577, 'default_profile': False, 'has_extended_profile': False, 'url': 'http://t.co/FM3SYOVtyU', 'id_str': '43683120', 'utc_offset': -18000, 'lang': 'en', 'profile_background_tile': True, 'contributors_enabled': False, 'profile_text_color': '333333', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme14/bg.gif', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/43683120/1398701115', 'created_at': 'Sun May 31 12:47:17 +0000 2009', 'verified': False, 'description': 'Mr Marketology provides marketing advice and resources in the areas of social search optimization and SEO. Beneficial to business owners and marketing execs.', 'statuses_count': 8071, 'is_translation_enabled': False, 'default_profile_image': False, 'profile_background_color': '131516', 'time_zone': 'America/New_York', 'translator_type': 'none', 'friends_count': 14772, 'protected': False, 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme14/bg.gif', 'geo_enabled': True, 'screen_name': 'mrmarketology', 'entities': {'url': {'urls': [{'url': 'http://t.co/FM3SYOVtyU', 'expanded_url': 'http://www.mrmarketology.com', 'display_url': 'mrmarketology.com', 'indices': [0, 22]}]}, 'description': {'urls': []}}, 'favourites_count': 9466, 'id': 43683120, 'profile_sidebar_fill_color': 'EFEFEF', 'profile_link_color': '009999', 'following': None, 'profile_use_background_image': True, 'follow_request_sent': None, 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/463423206959763456/wqvD7RQl_normal.jpeg', 'is_translator': False, 'notifications': None, 'profile_sidebar_border_color': 'EEEEEE', 'name': 'Mr. Marketology', 'followers_count': 19149, 'profile_image_url': 'http://pbs.twimg.com/profile_images/463423206959763456/wqvD7RQl_normal.jpeg', 'location': 'Atlanta'}",
 'SocialMedia,brands,contentmarketing,DigitalMarketing',
 19149,
 577,
 '',
 '2morrowknight,Adobe',
 14772,
 'Mr Marketology provides marketing advice and resources in the areas of social search optimization and SEO. Beneficial to business owners and marketing execs.',
 'mrmarketology',
 43683120)

In [56]:
i

3039

In [69]:
df = pd.read_sql('select * from adobe', connection)

In [81]:
json.dumps(df['entities'][0])

'"{\'symbols\': [], \'hashtags\': [{\'text\': \'SocialMedia\', \'indices\': [19, 31]}, {\'text\': \'brands\', \'indices\': [69, 76]}, {\'text\': \'contentmarketing\', \'indices\': [87, 104]}, {\'text\': \'DigitalMarketing\', \'indices\': [105, 122]}], \'user_mentions\': [{\'id\': 19478383, \'id_str\': \'19478383\', \'name\': \'Sean Gardner \\u00ad\\u042a\\u0457\\u0459\', \'screen_name\': \'2morrowknight\', \'indices\': [3, 17]}, {\'id\': 63786611, \'id_str\': \'63786611\', \'name\': \'Adobe\', \'screen_name\': \'Adobe\', \'indices\': [126, 132]}], \'urls\': []}"'

In [78]:
import json
json.loads("{'symbols': [], 'hashtags': ['truc']})

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)