# Reading from Public Data APIs

You may need to 'conda install pandas-datareader' if it isn't there for you.

Documentation and examples: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

In computer programming, an application programming interface (API) is a set of subroutine definitions, protocols, and tools for building application software. In general terms, it is a set of clearly defined methods of communication between various software components.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
type(web)

module

In [4]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 27)

f = web.DataReader("AAPL", 'yahoo', start, end)

f.loc['2010-01-04']

Open         3.049000e+01
High         3.064286e+01
Low          3.034000e+01
Close        3.057286e+01
Adj Close    2.740653e+01
Volume       1.234324e+08
Name: 2010-01-04 00:00:00, dtype: float64

In [6]:
f.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2009-12-31  30.447144  30.478571  30.080000  30.104286  26.986492   88102700
2010-01-04  30.490000  30.642857  30.340000  30.572857  27.406532  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  27.453915  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  27.017223  138040000
2010-01-07  30.250000  30.285715  29.864286  30.082857  26.967278  119282800

In [20]:
start = datetime.datetime(2016, 11, 25)
end = datetime.datetime(2017, 6, 27)
g = web.DataReader("F", 'google', start, end )

In [22]:
g.head()

             Open   High    Low  Close    Volume
Date
2016-11-21  11.77  11.90  11.77  11.79  19508608
2016-11-22  11.76  11.91  11.73  11.89  24274734
2016-11-23  11.90  12.00  11.85  11.90  22418351
2016-11-25  11.95  12.06  11.93  12.04  11439553
2016-11-28  12.02  12.05  11.89  11.92  24407192

In [17]:
g.loc['2016-11-21':'2016-11-24']

             Open   High    Low  Close    Volume
Date
2016-11-21  11.77  11.90  11.77  11.79  19508608
2016-11-22  11.76  11.91  11.73  11.89  24274734
2016-11-23  11.90  12.00  11.85  11.90  22418351

In [9]:
df = web.DataReader("tran_sf_railac", 'eurostat')

In [10]:
df

ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge  \
UNIT                                                                                      Number
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2010-01-01                                                 3.0
2011-01-01                                                 2.0
2012-01-01                                                 1.0
2013-01-01                                                 4.0
2014-01-01                                                 1.0
2015-01-01                                                 7.0

ACCIDENT                                                                \
UNIT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czech Republic
FREQ         Annual   Annual      Annual         Annual         Annual
TIME_PERIOD
2010-01-01      5.0      2.0         5.0            0.0            3.0
2011-01-01      0.0      0.0         4.0            0.0            6.0
2012-01-01      3.0      3.0         4.0            0.0            6.0
2013-01-01      1.0      2.0         6.0            0.0            5.0
2014-01-01      3.0      4.0         0.0            0.0           13.0
2015-01-01      0.0      3.0         3.0            0.0           14.0

ACCIDENT                                                                      \
UNIT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2010-01-01                                              13.0     0.0     1.0
2011-01-01                                              18.0     1.0     0.0
2012-01-01                                              23.0     1.0     3.0
2013-01-01                                              29.0     0.0     0.0
2014-01-01                                              32.0     0.0     0.0
2015-01-01                                              40.0     3.0     0.0

ACCIDENT                ...        Total                                     \
UNIT                    ...       Number
GEO         Greece      ...       Latvia Netherlands Norway Poland Portugal
FREQ        Annual      ...       Annual      Annual Annual Annual   Annual
TIME_PERIOD             ...
2010-01-01     4.0      ...         41.0        24.0   20.0  449.0     42.0
2011-01-01     1.0      ...         35.0        29.0   36.0  488.0     27.0
2012-01-01     2.0      ...         25.0        30.0   19.0  379.0     36.0
2013-01-01     2.0      ...         26.0        36.0   30.0  328.0     48.0
2014-01-01     1.0      ...         22.0        20.0   28.0  313.0     50.0
2015-01-01     1.0      ...         25.0        31.0   19.0  307.0     23.0

ACCIDENT
UNIT
GEO         Romania Sweden Slovenia Slovakia United Kingdom
FREQ         Annual Annual   Annual   Annual         Annual
TIME_PERIOD
2010-01-01    271.0   69.0     21.0     85.0           62.0
2011-01-01    217.0   54.0     11.0     84.0           78.0
2012-01-01    215.0   47.0     14.0     96.0           75.0
2013-01-01    180.0   43.0     13.0     94.0           84.0
2014-01-01    185.0   53.0     15.0    113.0           54.0
2015-01-01    141.0   40.0     14.0     87.0           40.0

[6 rows x 210 columns]

In [ ]:
df.columns

In [14]:
# sometimes it's easier to read... but un-nesting this would be a good challenge :)
df.transpose()

TIME_PERIOD                                                                                                        2010-01-01  \
ACCIDENT                                           UNIT   GEO                                              FREQ
Collisions of trains, including collisions with... Number Austria                                          Annual         3.0
                                                          Belgium                                          Annual         5.0
                                                          Bulgaria                                         Annual         2.0
                                                          Switzerland                                      Annual         5.0
                                                          Channel Tunnel                                   Annual         0.0
                                                          Czech Republic                                   Annual         3.0
                                                          Germany (until 1990 former territory of the FRG) Annual        13.0
                                                          Denmark                                          Annual         0.0
                                                          Estonia                                          Annual         1.0
                                                          Greece                                           Annual         4.0
                                                          Spain                                            Annual         2.0
                                                          European Union (28 countries)                    Annual        87.0
                                                          Finland                                          Annual         0.0
                                                          France                                           Annual        15.0
                                                          Croatia                                          Annual         0.0
                                                          Hungary                                          Annual         1.0
                                                          Ireland                                          Annual         0.0
                                                          Italy                                            Annual         2.0
                                                          Lithuania                                        Annual         0.0
                                                          Luxembourg                                       Annual         1.0
                                                          Latvia                                           Annual         1.0
                                                          Netherlands                                      Annual         5.0
                                                          Norway                                           Annual         9.0
                                                          Poland                                           Annual         4.0
                                                          Portugal                                         Annual         2.0
                                                          Romania                                          Annual        10.0
                                                          Sweden                                           Annual         3.0
                                                          Slovenia                                         Annual         0.0
                                                          Slovakia                                         Annual         2.0
                                                          United Kingdom                                   Annual         8.0
...                                                                                                                       ...
Total                                              Number Austria                                          Annual        79.0
                                                          Belgium                                          Annual        40.0
                                                          Bulgaria                                         Annual        39.0
                                                          Switzerland                                      Annual        51.0
                                                          Channel Tunnel                                   Annual         1.0
                                                          Czech Republic                                   Annual       125.0
                                                          Germany (until 1990 former territory of the FRG) Annual       297.0
                                                          Denmark                                          Annual        16.0
                                                          Estonia                                          Annual        31.0
                                                          Greece                                           Annual        39.0
                                                          Spain                                            Annual        45.0
                                                          European Union (28 countries)                    Annual      2291.0
                                                          Finland                                          Annual        23.0
                                                          France                                           Annual       155.0
                                                          Croatia                                          Annual        45.0
                                                          Hungary                                          Annual       142.0
                                                          Ireland                                          Annual         4.0
                                                          Italy                                            Annual       100.0
                                                          Lithuania                                        Annual        44.0
                                                          Luxembourg                                       Annual         3.0
                                                          Latvia                                           Annual        41.0
                                                          Netherlands                                      Annual        24.0
                                                          Norway                                           Annual        20.0
                                                          Poland                                           Annual       449.0
                                                          Portugal                                         Annual        42.0
                                                          Romania                                          Annual       271.0
                                                          Sweden                                           Annual        69.0
                                                          Slovenia                                         Annual        21.0
                                                          Slovakia                                         Annual        85.0
                                                          United Kingdom                                   Annual        62.0

TIME_PERIOD                                                                                                        2011-01-01  \
ACCIDENT                                           UNIT   GEO                                              FREQ
Collisions of trains, including collisions with... Number Austria                                          Annual         2.0
                                                          Belgium                                          Annual         0.0
                                                          Bulgaria                                         Annual         0.0
                                                          Switzerland                                      Annual         4.0
                                                          Channel Tunnel                                   Annual         0.0
                                                          Czech Republic                                   Annual         6.0
                                                          Germany (until 1990 former territory of the FRG) Annual        18.0
                                                          Denmark                                          Annual         1.0
                                                          Estonia                                          Annual         0.0
                                                          Greece                                           Annual         1.0
                                                          Spain                                            Annual         4.0
                                                          European Union (28 countries)                    Annual        73.0
                                                          Finland                                          Annual         2.0
                                                          France                                           Annual        12.0
                                                          Croatia                                          Annual         0.0
                                                          Hungary                                          Annual         0.0
                                                          Ireland                                          Annual         0.0
                                                          Italy                                            Annual         6.0
                                                          Lithuania                                        Annual         0.0
                                                          Luxembourg                                       Annual         0.0
                                                          Latvia                                           Annual         0.0
                                                          Netherlands                                      Annual         4.0
                                                          Norway                                           Annual        15.0
                                                          Poland                                           Annual         8.0
                                                          Portugal                                         Annual         1.0
                                                          Romania                                          Annual         1.0
                                                          Sweden                                           Annual         2.0
                                                          Slovenia                                         Annual         1.0
                                                          Slovakia                                         Annual         1.0
                                                          United Kingdom                                   Annual         3.0
...                                                                                                                       ...
Total                                              Number Austria                                          Annual        84.0
                                                          Belgium                                          Annual        51.0
                                                          Bulgaria                                         Annual        74.0
                                                          Switzerland                                      Annual        44.0
                                                          Channel Tunnel                                   Annual         2.0
                                                          Czech Republic                                   Annual        99.0
                                                          Germany (until 1990 former territory of the FRG) Annual       285.0
                                                          Denmark                                          Annual        16.0
                                                          Estonia                                          Annual        28.0
                                                          Greece                                           Annual        24.0
                                                          Spain                                            Annual        42.0
                                                          European Union (28 countries)                    Annual      2222.0
                                                          Finland                                          Annual        14.0
                                                          France                                           Annual       154.0
                                                          Croatia                                          Annual        39.0
                                                          Hungary                                          Annual       147.0
                                                          Ireland                                          Annual         2.0
                                                          Italy                                            Annual       106.0
                                                          Lithuania                                        Annual        33.0
                                                          Luxembourg                                       Annual         1.0
                                                          Latvia                                           Annual        35.0
                                                          Netherlands                                      Annual        29.0
                                                          Norway                                           Annual        36.0
                                                          Poland                                           Annual       488.0
                                                          Portugal                                         Annual        27.0
                                                          Romania                                          Annual       217.0
                                                          Sweden                                           Annual        54.0
                                                          Slovenia                                         Annual        11.0
                                                          Slovakia                                         Annual        84.0
                                                          United Kingdom                                   Annual        78.0

TIME_PERIOD                                                                                                        2012-01-01  \
ACCIDENT                                           UNIT   GEO                                              FREQ
Collisions of trains, including collisions with... Number Austria                                          Annual         1.0
                                                          Belgium                                          Annual         3.0
                                                          Bulgaria                                         Annual         3.0
                                                          Switzerland                                      Annual         4.0
                                                          Channel Tunnel                                   Annual         0.0
                                                          Czech Republic                                   Annual         6.0
                                                          Germany (until 1990 former territory of the FRG) Annual        23.0
                                                          Denmark                                          Annual         1.0
                                                          Estonia                                          Annual         3.0
                                                          Greece                                           Annual         2.0
                                                          Spain                                            Annual         3.0
                                                          European Union (28 countries)                    Annual        97.0
                                                          Finland                                          Annual         0.0
                                                          France                                           Annual        17.0
                                                          Croatia                                          Annual         1.0
                                                          Hungary                                          Annual         1.0
                                                          Ireland                                          Annual         0.0
                                                          Italy                                            Annual         7.0
                                                          Lithuania                                        Annual         0.0
                                                          Luxembourg                                       Annual         0.0
                                                          Latvia                                           Annual         0.0
                                                          Netherlands                                      Annual         3.0
                                                          Norway                                           Annual        10.0
                                                          Poland                                           Annual         6.0
                                                          Portugal                                         Annual         1.0
                                                          Romania                                          Annual         0.0
                                                          Sweden                                           Annual         4.0
                                                          Slovenia                                         Annual         1.0
                                                          Slovakia                                         Annual         1.0
                                                          United Kingdom                                   Annual        10.0

## Import data from an URL

In [6]:
import urllib.request, json 
import pandas as pd

with urllib.request.urlopen("https://opendata-renewables.engie.com/api/records/1.0/search/?dataset=la-haute-borne-data-2009-2012&facet=wind_turbine_name&facet=date_time") as url:
    data = json.loads(url.read())
    print(data)

{'nhits': 839100, 'parameters': {'dataset': ['la-haute-borne-data-2009-2012'], 'timezone': 'UTC', 'rows': 10, 'format': 'json', 'facet': ['wind_turbine_name', 'date_time']}, 'records': [{'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '7e8089ea75688eccb2c9924dcf403126e1bef7e3', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 15.0, 'git_min': 54.400002, 'yt_avg': 22.940001, 'ws2_std': 0.67000002, 'gost_avg': 57.18, 'rs_min': 11.15, 'yt_max': 23.1, 'db1t_std': 0.34, 'rm_min': 1365.65, 'nf_min': 49.93, 'db1t_avg': 41.540001, 'nf_max': 49.98, 'rm_max': 2753.02, 'git_max': 55.650002, 'ws2_min': 2.8699999, 'rt_std': 0.0, 'dst_std': 0.36000001, 'ws2_max': 6.6500001, 'gb1t_std': 0.36000001, 'dcs_std': 70.029999, 'gb2t_avg': 64.900002, 'git_std': 0.25999999, 'ya_min': 234.98, 'git_avg': 54.959999, 'va1_avg': 1.5599999, 'p_avg': 340.48001, 'db2t_max': 37.799999, 's_std': 53.77, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 31.27, 'rm_std': 274.12, 'va1_std': 12.16, 'rm_avg': 2290.6001, 'db2t_std': 0.20999999, 'ya_std': 0.0, 'ya_avg': 234.98, 'q_max': 17.17, 'ba_max': -1.0, 'dst_min': 57.200001, 'dst_max': 59.349998, 'wa_std': 0.0, 'ds_avg': 1411.02, 'ws_max': 6.6300001, 'ba_min': -1.0, 'va1_max': 396.85001, 'q_min': -17.120001, 'cosphi_max': 0.0, 'q_avg': 4.5799999, 'gost_min': 56.450001, 'wa_min': 0.0, 'ws1_min': 3.0599999, 'cm_min': 1620.39, 'cm_avg': 2441.6899, 'cm_std': 238.91, 'ws_std': 0.63999999, 'wa_c_avg': 236.53, 'gb1t_avg': 63.169998, 'db1t_max': 41.849998, 'rs_std': 0.67000002, 'db1t_min': 40.349998, 'cosphi_min': 0.0, 'gb2t_max': 65.099998, 'rbt_max': 31.299999, 'date_time': '2009-04-17T05:40:00+00:00', 'rbt_min': 31.1, 'rs_avg': 13.42, 'yt_min': 20.6, 'ds_std': 70.07, 'dcs_avg': 1413.13, 'ws2_avg': 4.8600001, 'rt_min': 15.0, 'ds_max': 1517.3, 'db2t_min': 36.900002, 'rt_max': 15.0, 'rs_max': 14.44, 'dcs_max': 1519.29, 'p_std': 53.82, 'q_std': 8.1499996, 'ya_max': 234.98, 'ba_avg': -1.0, 'nu_std': 3.8199999, 'ot_std': 0.039999999, 'wind_turbine_name': 'R80711', 'p_min': 168.55, 'dcs_min': 1176.72, 'ws_avg': 4.96, 'p_max': 436.87, 'ot_avg': 7.0100002, 's_max': 437.19, 'db2t_avg': 37.66, 's_avg': 340.64999, 'cosphi_std': 0.0, 'gb1t_min': 61.900002, 'ot_min': 6.9000001, 'nu_avg': 690.46002, 'gb1t_max': 63.349998, 'ds_min': 1174.5699, 'rbt_std': 0.090000004, 'nf_avg': 49.959999, 'nf_std': 0.0099999998, 's_min': 169.10001, 'gost_std': 0.20999999, 'wa_avg': 236.53, 'gb2t_std': 0.13, 'gb2t_min': 64.400002, 'yt_std': 0.73000002, 'ws1_std': 0.67000002, 'ot_max': 7.1999998, 'cm_max': 2871.99, 'ws1_max': 6.8200002, 'na_c_avg': 234.98, 'ws1_avg': 5.0599999, 'nu_min': 678.78998, 'dst_avg': 58.549999, 'gost_max': 57.400002, 'va1_min': 330.0, 'ws_min': 3.1500001, 'nu_max': 698.82001}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': 'e362ed16a598e83b2d35ff7adc1c7c7e09925e22', 'fields': {'cosphi_avg': -1.0, 'rt_avg': 14.82, 'git_min': 44.799999, 'yt_avg': 22.799999, 'ws2_std': 1.0, 'gost_avg': 56.189999, 'rs_min': 9.96, 'yt_max': 23.0, 'db1t_std': 0.36000001, 'rm_min': 940.65002, 'nf_min': 49.950001, 'db1t_avg': 42.279999, 'nf_max': 49.98, 'rm_max': 3447.23, 'git_max': 54.799999, 'ws2_min': 2.9400001, 'rt_std': 0.28, 'dst_std': 0.34999999, 'ws2_max': 8.3900003, 'gb1t_std': 1.26, 'dcs_std': 149.25999, 'gb2t_avg': 63.27, 'git_std': 3.8299999, 'ya_min': 245.95, 'git_avg': 54.34, 'va1_avg': 17.690001, 'p_avg': 286.84, 'db2t_max': 36.700001, 's_std': 119.39, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 30.799999, 'rm_std': 598.15997, 'va1_std': 12.16, 'rm_avg': 1996.23, 'db2t_std': 0.17, 'ya_std': 0.0, 'ya_avg': 245.95, 'q_max': 31.82, 'ba_max': -1.0, 'dst_min': 57.599998, 'dst_max': 59.75, 'wa_std': 0.0, 'ds_avg': 1333.8101, 'ws_max': 8.2700005, 'ba_min': -1.0, 'va1_max': 410.59, 'q_min': -19.59, 'cosphi_max': 0.0, 'q_avg': -8.5100002, 'gost_min': 54.849998, 'wa_min': 0.0, 'ws1_min': 3.1600001, 'cm_min': 1233.5601, 'cm_avg': 2188.79, 'cm_std': 534.98999, 'ws_std': 0.94999999, 'wa_c_avg': 263.64001, 'gb1t_avg': 60.290001, 'db1t_max': 42.599998, 'rs_std': 1.4299999, 'db1t_min': 40.950001, 'cosphi_min': 0.0, 'gb2t_max': 63.5, 'rbt_max': 30.799999, 'date_time': '2009-04-17T08:30:00+00:00', 'rbt_min': 30.75, 'rs_avg': 12.68, 'yt_min': 21.1, 'ds_std': 149.33, 'dcs_avg': 1335.96, 'ws2_avg': 5.1100001, 'rt_min': 14.0, 'ds_max': 1667.05, 'db2t_min': 35.799999, 'rt_max': 15.0, 'rs_max': 15.87, 'dcs_max': 1669.0601, 'p_std': 119.46, 'q_std': 14.13, 'ya_max': 245.95, 'ba_avg': -1.0, 'nu_std': 2.71, 'ot_std': 0.14, 'wind_turbine_name': 'R80711', 'p_min': 103.96, 'dcs_min': 1051.29, 'ws_avg': 5.0599999, 'p_max': 601.10999, 'ot_avg': 8.7600002, 's_max': 601.79999, 'db2t_avg': 36.509998, 's_avg': 287.25, 'cosphi_std': 0.0, 'gb1t_min': 57.0, 'ot_min': 8.1999998, 'nu_avg': 692.81, 'gb1t_max': 60.700001, 'ds_min': 1049.0699, 'rbt_std': 0.0, 'nf_avg': 49.970001, 'nf_std': 0.0099999998, 's_min': 104.91, 'gost_std': 0.44, 'wa_avg': 263.64001, 'gb2t_std': 0.23, 'gb2t_min': 62.5, 'yt_std': 0.60000002, 'ws1_std': 0.94999999, 'ot_max': 8.8000002, 'cm_max': 3494.3301, 'ws1_max': 8.1300001, 'na_c_avg': 245.95, 'ws1_avg': 5.02, 'nu_min': 690.02002, 'dst_avg': 59.169998, 'gost_max': 56.400002, 'va1_min': 322.91, 'ws_min': 3.1900001, 'nu_max': 701.65997}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '73f09bdaca4b316ccc109fd88f368032dfd39f75', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 24.0, 'git_min': 48.200001, 'yt_avg': 27.450001, 'ws2_std': 0.50999999, 'gost_avg': 56.880001, 'rs_min': 14.89, 'yt_max': 29.6, 'db1t_std': 0.99000001, 'rm_min': 2912.3301, 'nf_min': 49.990002, 'db1t_avg': 53.630001, 'nf_max': 50.060001, 'rm_max': 3176.3701, 'git_max': 49.849998, 'ws2_min': 4.4499998, 'rt_std': 0.0, 'dst_std': 0.85000002, 'ws2_max': 7.5599999, 'gb1t_std': 0.63, 'dcs_std': 12.53, 'gb2t_avg': 66.93, 'git_std': 0.34999999, 'ya_min': 13.27, 'git_avg': 48.549999, 'va1_avg': -0.11, 'p_avg': 492.56, 'db2t_max': 45.599998, 's_std': 13.57, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 34.400002, 'rm_std': 57.630001, 'va1_std': 11.71, 'rm_avg': 2980.01, 'db2t_std': 0.34, 'ya_std': 0.0, 'ya_avg': 13.27, 'q_max': 24.549999, 'ba_max': -1.0, 'dst_min': 61.25, 'dst_max': 66.449997, 'wa_std': 0.0, 'ds_avg': 1577.6801, 'ws_max': 7.6300001, 'ba_min': -1.0, 'va1_max': 35.450001, 'q_min': 14.43, 'cosphi_max': 0.0, 'q_avg': 18.92, 'gost_min': 56.650002, 'wa_min': 0.0, 'ws1_min': 4.8200002, 'cm_min': 3008.98, 'cm_avg': 3078.9199, 'cm_std': 54.099998, 'ws_std': 0.50999999, 'wa_c_avg': 13.15, 'gb1t_avg': 63.369999, 'db1t_max': 57.0, 'rs_std': 0.12, 'db1t_min': 52.849998, 'cosphi_min': 0.0, 'gb2t_max': 67.900002, 'rbt_max': 34.5, 'date_time': '2009-09-21T20:10:00+00:00', 'rbt_min': 34.400002, 'rs_avg': 15.01, 'yt_min': 27.200001, 'ds_std': 12.53, 'dcs_avg': 1579.72, 'ws2_avg': 5.8899999, 'rt_min': 24.0, 'ds_max': 1618.2, 'db2t_min': 44.0, 'rt_max': 24.0, 'rs_max': 15.41, 'dcs_max': 1620.23, 'p_std': 13.55, 'q_std': 1.87, 'ya_max': 13.27, 'ba_avg': -1.0, 'nu_std': 1.17, 'ot_std': 0.029999999, 'wind_turbine_name': 'R80711', 'p_min': 478.23999, 'dcs_min': 1568.39, 'ws_avg': 6.04, 'p_max': 537.59003, 'ot_avg': 19.129999, 's_max': 538.06, 'db2t_avg': 44.419998, 's_avg': 492.95001, 'cosphi_std': 0.0, 'gb1t_min': 63.0, 'ot_min': 19.0, 'nu_avg': 699.90002, 'gb1t_max': 65.400002, 'ds_min': 1566.3199, 'rbt_std': 0.039999999, 'nf_avg': 50.029999, 'nf_std': 0.02, 's_min': 478.62, 'gost_std': 0.31, 'wa_avg': 13.15, 'gb2t_std': 0.27000001, 'gb2t_min': 66.800003, 'yt_std': 0.73000002, 'ws1_std': 0.50999999, 'ot_max': 19.299999, 'cm_max': 3253.8201, 'ws1_max': 7.9499998, 'na_c_avg': 13.27, 'ws1_avg': 6.1999998, 'nu_min': 696.78003, 'dst_avg': 62.810001, 'gost_max': 57.799999, 'va1_min': 341.41, 'ws_min': 4.4299998, 'nu_max': 703.28003}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '1d310c07c6b0fbe4774203ba5dd6571311ff3a46', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 14.88, 'git_min': 41.650002, 'yt_avg': 21.440001, 'ws2_std': 1.02, 'gost_avg': 56.25, 'rs_min': 10.48, 'yt_max': 21.9, 'db1t_std': 0.2, 'rm_min': 1120.91, 'nf_min': 49.959999, 'db1t_avg': 39.75, 'nf_max': 50.0, 'rm_max': 5011.2798, 'git_max': 55.049999, 'ws2_min': 3.3800001, 'rt_std': 0.27000001, 'dst_std': 0.38999999, 'ws2_max': 8.5500002, 'gb1t_std': 1.15, 'dcs_std': 206.28999, 'gb2t_avg': 65.809998, 'git_std': 5.0100002, 'ya_min': 256.92999, 'git_avg': 53.400002, 'va1_avg': 2.6500001, 'p_avg': 448.82001, 'db2t_max': 36.799999, 's_std': 207.36, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 31.030001, 'rm_std': 935.23999, 'va1_std': 12.16, 'rm_avg': 2725.9299, 'db2t_std': 0.13, 'ya_std': 0.0, 'ya_avg': 256.92999, 'q_max': 77.860001, 'ba_max': -1.0, 'dst_min': 57.650002, 'dst_max': 60.0, 'wa_std': 0.0, 'ds_avg': 1492.54, 'ws_max': 7.9899998, 'ba_min': -1.0, 'va1_max': 419.87, 'q_min': -16.18, 'cosphi_max': 0.0, 'q_avg': 21.1, 'gost_min': 54.5, 'wa_min': 0.0, 'ws1_min': 3.3699999, 'cm_min': 1409.6801, 'cm_avg': 2847.1599, 'cm_std': 847.92999, 'ws_std': 1.02, 'wa_c_avg': 259.57001, 'gb1t_avg': 62.830002, 'db1t_max': 40.049999, 'rs_std': 1.97, 'db1t_min': 38.950001, 'cosphi_min': 0.0, 'gb2t_max': 67.900002, 'rbt_max': 31.049999, 'date_time': '2009-04-17T09:30:00+00:00', 'rbt_min': 30.799999, 'rs_avg': 14.2, 'yt_min': 18.200001, 'ds_std': 206.39, 'dcs_avg': 1494.65, 'ws2_avg': 5.5, 'rt_min': 14.0, 'ds_max': 1806.0, 'db2t_min': 36.0, 'rt_max': 15.0, 'rs_max': 17.200001, 'dcs_max': 1808.14, 'p_std': 206.72, 'q_std': 22.219999, 'ya_max': 256.92999, 'ba_avg': -1.0, 'nu_std': 3.27, 'ot_std': 0.15000001, 'wind_turbine_name': 'R80711', 'p_min': 130.34, 'dcs_min': 1105.1899, 'ws_avg': 5.5999999, 'p_max': 940.16998, 'ot_avg': 9.8999996, 's_max': 942.69, 'db2t_avg': 36.549999, 's_avg': 449.57001, 'cosphi_std': 0.0, 'gb1t_min': 60.099998, 'ot_min': 9.6000004, 'nu_avg': 707.19, 'gb1t_max': 64.400002, 'ds_min': 1102.98, 'rbt_std': 0.090000004, 'nf_avg': 49.98, 'nf_std': 0.0099999998, 's_min': 131.13, 'gost_std': 0.64999998, 'wa_avg': 259.57001, 'gb2t_std': 1.12, 'gb2t_min': 64.599998, 'yt_std': 1.13, 'ws1_std': 1.03, 'ot_max': 10.1, 'cm_max': 4999.1401, 'ws1_max': 8.3299999, 'na_c_avg': 256.92999, 'ws1_avg': 5.6900001, 'nu_min': 700.15997, 'dst_avg': 58.66, 'gost_max': 57.099998, 'va1_min': 322.91, 'ws_min': 3.02, 'nu_max': 713.89001}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': 'ec26480e7d20ae2b386b84f84b8b9e2a92ba1803', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 23.99, 'git_min': 52.650002, 'yt_avg': 29.75, 'ws2_std': 0.27000001, 'gost_avg': 53.84, 'rs_min': 1.11, 'yt_max': 30.0, 'db1t_std': 0.090000004, 'rm_min': -65.290001, 'nf_min': 49.970001, 'db1t_avg': 40.310001, 'nf_max': 50.029999, 'rm_max': -21.84, 'git_max': 53.150002, 'ws2_min': 1.45, 'rt_std': 0.059999999, 'dst_std': 0.31999999, 'ws2_max': 2.96, 'gb1t_std': 0.059999999, 'dcs_std': 4.1100001, 'gb2t_avg': 51.779999, 'git_std': 0.039999999, 'ya_min': 53.880001, 'git_avg': 52.82, 'va1_avg': 9.8000002, 'p_avg': -0.61000001, 'db2t_max': 43.299999, 's_std': 0.1, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 31.389999, 'rm_std': 7.6700001, 'va1_std': 14.92, 'rm_avg': -47.189999, 'db2t_std': 0.22, 'ya_std': 0.0, 'ya_avg': 53.880001, 'q_max': 0.13, 'ba_max': 44.990002, 'dst_min': 56.5, 'dst_max': 57.700001, 'wa_std': 0.0, 'ds_avg': 123.69, 'ws_max': 2.9000001, 'ba_min': 44.990002, 'va1_max': 48.950001, 'q_min': 0.0, 'cosphi_max': 0.0, 'q_avg': 0.0, 'gost_min': 53.700001, 'wa_min': 0.0, 'ws1_min': 1.35, 'cm_min': -4.9400001, 'cm_avg': -4.71, 'cm_std': 0.07, 'ws_std': 0.25999999, 'wa_c_avg': 63.68, 'gb1t_avg': 51.09, 'db1t_max': 40.599998, 'rs_std': 0.039999999, 'db1t_min': 40.299999, 'cosphi_min': 0.0, 'gb2t_max': 52.0, 'rbt_max': 31.5, 'date_time': '2009-09-21T23:50:00+00:00', 'rbt_min': 31.4, 'rs_avg': 1.17, 'yt_min': 28.6, 'ds_std': 4.0999999, 'dcs_avg': 126.38, 'ws2_avg': 2.2, 'rt_min': 23.459999, 'ds_max': 133.81, 'db2t_min': 42.599998, 'rt_max': 24.0, 'rs_max': 1.27, 'dcs_max': 136.92, 'p_std': 0.1, 'q_std': 0.0099999998, 'ya_max': 53.880001, 'ba_avg': 44.990002, 'nu_std': 1.24, 'ot_std': 0.039999999, 'wind_turbine_name': 'R80711', 'p_min': -0.87, 'dcs_min': 120.09, 'ws_avg': 2.2, 'p_max': -0.28999999, 'ot_avg': 17.85, 's_max': 0.87, 'db2t_avg': 42.669998, 's_avg': 0.61000001, 'cosphi_std': 0.0, 'gb1t_min': 51.0, 'ot_min': 17.799999, 'nu_avg': 683.62, 'gb1t_max': 51.25, 'ds_min': 117.57, 'rbt_std': 0.0099999998, 'nf_avg': 50.02, 'nf_std': 0.02, 's_min': 0.28999999, 'gost_std': 0.050000001, 'wa_avg': 63.68, 'gb2t_std': 0.090000004, 'gb2t_min': 51.700001, 'yt_std': 0.40000001, 'ws1_std': 0.31, 'ot_max': 17.9, 'cm_max': -4.4899998, 'ws1_max': 2.96, 'na_c_avg': 53.880001, 'ws1_avg': 2.21, 'nu_min': 680.47998, 'dst_avg': 56.720001, 'gost_max': 54.099998, 'va1_min': 347.79001, 'ws_min': 1.51, 'nu_max': 686.85999}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '8190acba2eadfd7c19b08982bda6acc47e8d5fff', 'fields': {'cosphi_avg': -1.0, 'rt_avg': 24.0, 'git_min': 52.799999, 'yt_avg': 32.509998, 'ws2_std': 0.25999999, 'gost_avg': 53.650002, 'rs_min': 8.7600002, 'yt_max': 32.599998, 'db1t_std': 0.28999999, 'rm_min': 177.84, 'nf_min': 49.959999, 'db1t_avg': 41.490002, 'nf_max': 50.02, 'rm_max': 390.67001, 'git_max': 53.349998, 'ws2_min': 2.3099999, 'rt_std': 0.029999999, 'dst_std': 0.73000002, 'ws2_max': 3.8900001, 'gb1t_std': 0.18000001, 'dcs_std': 0.81, 'gb2t_avg': 55.220001, 'git_std': 0.090000004, 'ya_min': 30.83, 'git_avg': 53.130001, 'va1_avg': -6.4200001, 'p_avg': 26.57, 'db2t_max': 40.25, 's_std': 3.4300001, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 31.26, 'rm_std': 44.57, 'va1_std': 14.59, 'rm_avg': 273.72, 'db2t_std': 0.23, 'ya_std': 0.0, 'ya_avg': 30.83, 'q_max': -11.9, 'ba_max': -1.0, 'dst_min': 52.349998, 'dst_max': 56.049999, 'wa_std': 0.0, 'ds_avg': 927.0, 'ws_max': 3.71, 'ba_min': -1.0, 'va1_max': 51.25, 'q_min': -24.540001, 'cosphi_max': 0.0, 'q_avg': -17.139999, 'gost_min': 53.400002, 'wa_min': 0.0, 'ws1_min': 2.21, 'cm_min': 494.57001, 'cm_avg': 595.33002, 'cm_std': 44.52, 'ws_std': 0.25999999, 'wa_c_avg': 24.41, 'gb1t_avg': 56.5, 'db1t_max': 41.900002, 'rs_std': 0.0099999998, 'db1t_min': 40.450001, 'cosphi_min': 0.0, 'gb2t_max': 55.299999, 'rbt_max': 31.299999, 'date_time': '2009-09-22T01:20:00+00:00', 'rbt_min': 31.049999, 'rs_avg': 8.8000002, 'yt_min': 32.349998, 'ds_std': 0.81, 'dcs_avg': 929.5, 'ws2_avg': 2.9000001, 'rt_min': 23.459999, 'ds_max': 930.82001, 'db2t_min': 39.299999, 'rt_max': 24.0, 'rs_max': 8.8400002, 'dcs_max': 933.27002, 'p_std': 4.3299999, 'q_std': 2.02, 'ya_max': 30.83, 'ba_avg': -1.0, 'nu_std': 1.27, 'ot_std': 0.090000004, 'wind_turbine_name': 'R80711', 'p_min': 17.25, 'dcs_min': 926.48999, 'ws_avg': 3.01, 'p_max': 37.959999, 'ot_avg': 18.02, 's_max': 41.369999, 'db2t_avg': 40.110001, 's_avg': 32.029999, 'cosphi_std': 0.0, 'gb1t_min': 55.900002, 'ot_min': 17.9, 'nu_avg': 686.52002, 'gb1t_max': 56.599998, 'ds_min': 924.01001, 'rbt_std': 0.090000004, 'nf_avg': 49.990002, 'nf_std': 0.0099999998, 's_min': 25.309999, 'gost_std': 0.059999999, 'wa_avg': 24.41, 'gb2t_std': 0.090000004, 'gb2t_min': 54.900002, 'yt_std': 0.07, 'ws1_std': 0.30000001, 'ot_max': 18.15, 'cm_max': 705.06, 'ws1_max': 4.0, 'na_c_avg': 30.83, 'ws1_avg': 3.1199999, 'nu_min': 682.65997, 'dst_avg': 55.049999, 'gost_max': 53.799999, 'va1_min': 324.31, 'ws_min': 2.3900001, 'nu_max': 688.52002}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '330b561c4f4bc2e8ac04e772ed1240c1db76d79f', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 16.0, 'git_min': 42.5, 'yt_avg': 19.85, 'ws2_std': 1.17, 'gost_avg': 56.150002, 'rs_min': 11.1, 'yt_max': 20.200001, 'db1t_std': 0.47999999, 'rm_min': 1328.45, 'nf_min': 49.939999, 'db1t_avg': 35.57, 'nf_max': 49.98, 'rm_max': 5798.7402, 'git_max': 54.25, 'ws2_min': 2.78, 'rt_std': 0.0, 'dst_std': 1.1900001, 'ws2_max': 9.5799999, 'gb1t_std': 0.86000001, 'dcs_std': 165.12, 'gb2t_avg': 65.889999, 'git_std': 4.6300001, 'ya_min': 277.78, 'git_avg': 53.07, 'va1_avg': 1.08, 'p_avg': 677.09003, 'db2t_max': 37.200001, 's_std': 190.48, 'wa_max': 0.0, 'ba_std': 0.029999999, 'rbt_avg': 32.700001, 'rm_std': 861.48999, 'va1_std': 12.16, 'rm_avg': 3839.8701, 'db2t_std': 0.27000001, 'ya_std': 5.3800001, 'ya_avg': 280.70001, 'q_max': 102.73, 'ba_max': -0.57999998, 'dst_min': 58.5, 'dst_max': 63.549999, 'wa_std': 0.0, 'ds_avg': 1640.8199, 'ws_max': 10.61, 'ba_min': -1.0, 'va1_max': 423.54001, 'q_min': 0.93000001, 'cosphi_max': 0.0, 'q_avg': 48.41, 'gost_min': 54.299999, 'wa_min': 0.0, 'ws1_min': 2.5999999, 'cm_min': 1613.39, 'cm_avg': 3898.26, 'cm_std': 794.06, 'ws_std': 1.3200001, 'wa_c_avg': 278.85999, 'gb1t_avg': 62.779999, 'db1t_max': 37.0, 'rs_std': 1.58, 'db1t_min': 35.0, 'cosphi_min': 0.0, 'gb2t_max': 68.300003, 'rbt_max': 32.700001, 'date_time': '2009-04-17T12:30:00+00:00', 'rbt_min': 32.599998, 'rs_avg': 15.61, 'yt_min': 17.9, 'ds_std': 165.19, 'dcs_avg': 1642.91, 'ws2_avg': 6.8400002, 'rt_min': 16.0, 'ds_max': 1808.8199, 'db2t_min': 36.200001, 'rt_max': 16.0, 'rs_max': 17.23, 'dcs_max': 1811.03, 'p_std': 189.60001, 'q_std': 20.690001, 'ya_max': 290.95001, 'ba_avg': -1.0, 'nu_std': 2.25, 'ot_std': 0.15000001, 'wind_turbine_name': 'R80711', 'p_min': 163.75999, 'dcs_min': 1170.3199, 'ws_avg': 6.98, 'p_max': 1084.47, 'ot_avg': 12.49, 's_max': 1088.9, 'db2t_avg': 36.490002, 's_avg': 679.0, 'cosphi_std': 0.0, 'gb1t_min': 59.400002, 'ot_min': 12.1, 'nu_avg': 718.89001, 'gb1t_max': 63.200001, 'ds_min': 1168.0601, 'rbt_std': 0.0099999998, 'nf_avg': 49.98, 'nf_std': 0.0099999998, 's_min': 163.78, 'gost_std': 0.5, 'wa_avg': 278.85999, 'gb2t_std': 1.03, 'gb2t_min': 64.699997, 'yt_std': 0.61000001, 'ws1_std': 1.3099999, 'ot_max': 12.7, 'cm_max': 5805.9302, 'ws1_max': 10.37, 'na_c_avg': 280.70001, 'ws1_avg': 7.1199999, 'nu_min': 711.38, 'dst_avg': 59.23, 'gost_max': 56.5, 'va1_min': 289.92999, 'ws_min': 4.3699999, 'nu_max': 721.53003}, 'record_timestamp': '2017-06-02T10:27:00+00:00'}, {'datasetid': 'la-haute-borne-data-2009-2012', 'recordid': '833cda75eb36ee94311d96b86de7c0ea73319f7a', 'fields': {'cosphi_avg': 1.0, 'rt_avg': 16.0, 'git_min': 55.299999, 'yt_avg': 21.940001, 'ws2_std': 0.97000003, 'gost_avg': 58.470001, 'rs_min': 10.52, 'yt_max': 25.9, 'db1t_std': 1.03, 'rm_min': 1161.72, 'nf_min': 49.959999, 'db1t_avg': 43.66, 'nf_max': 50.009998, 'rm_max': 3529.7, 'git_max': 57.650002, 'ws2_min': 2.78, 'rt_std': 0.0, 'dst_std': 0.88, 'ws2_max': 7.8400002, 'gb1t_std': 0.56, 'dcs_std': 162.91, 'gb2t_avg': 67.019997, 'git_std': 0.34999999, 'ya_min': 265.70999, 'git_avg': 57.23, 'va1_avg': -5.4200001, 'p_avg': 452.14001, 'db2t_max': 42.0, 's_std': 135.57001, 'wa_max': 0.0, 'ba_std': 0.0, 'rbt_avg': 33.009998, 'rm_std': 652.51001, 'va1_std': 12.16, 'rm_avg': 2783.8201, 'db2t_std': 0.49000001, 'ya_std': 8.2299995, 'ya_avg': 282.20999, 'q_max': 35.419998, 'ba_max': -1.0, 'dst_min': 62.349998, 'dst_max': 66.25, 'wa_std': 0.0, 'ds_avg': 1528.1801, 'ws_max': 8.7799997, 'ba_min': -1.0, 'va1_max': 423.54001, 'q_min': -20.16, 'cosphi_max': 0.0, 'q_avg': 4.27, 'gost_min': 57.25, 'wa_min': 0.0, 'ws1_min': 2.9000001, 'cm_min': 1479.9399, 'cm_avg': 2912.2, 'cm_std': 576.88, 'ws_std': 0.88, 'wa_c_avg': 260.29001, 'gb1t_avg': 64.959999, 'db1t_max': 47.099998, 'rs_std': 1.5599999, 'db1t_min': 43.349998, 'cosphi_min': 0.0, 'gb2t_max': 66.900002, 'rbt_max': 33.5, 'date_time': '2009-04-17T16:10:00+00:00', 'rbt_min': 33.0, 'rs_avg': 14.54, 'yt_min': 21.9, 'ds_std': 162.98, 'dcs_avg': 1530.24, 'ws2_avg': 5.8099999, 'rt_min': 16.0, 'ds_max': 1682.89, 'db2t_min': 40.25, 'rt_max': 16.0, 'rs_max': 16.01, 'dcs_max': 1684.89, 'p_std': 135.44, 'q_std': 15.13, 'ya_max': 286.56, 'ba_avg': -1.0, 'nu_std': 2.8399999, 'ot_std': 0.13, 'wind_turbine_name': 'R80711', 'p_min': 134.8, 'dcs_min': 1110.3101, 'ws_avg': 6.04, 'p_max': 620.65002, 'ot_avg': 12.17, 's_max': 621.63, 'db2t_avg': 40.400002, 's_avg': 452.649

In [7]:
data.keys()

dict_keys(['nhits', 'parameters', 'records', 'facet_groups'])

In [9]:
df = pd.DataFrame(data['records'])
df.head()

,datasetid,fields,record_timestamp,recordid
0,la-haute-borne-data-2009-2012,"{'cosphi_avg': 1.0, 'rt_avg': 15.0, 'git_min':...",2017-06-02T10:27:00+00:00,7e8089ea75688eccb2c9924dcf403126e1bef7e3
1,la-haute-borne-data-2009-2012,"{'cosphi_avg': -1.0, 'rt_avg': 14.82, 'git_min...",2017-06-02T10:27:00+00:00,e362ed16a598e83b2d35ff7adc1c7c7e09925e22
2,la-haute-borne-data-2009-2012,"{'cosphi_avg': 1.0, 'rt_avg': 24.0, 'git_min':...",2017-06-02T10:27:00+00:00,73f09bdaca4b316ccc109fd88f368032dfd39f75
3,la-haute-borne-data-2009-2012,"{'cosphi_avg': 1.0, 'rt_avg': 14.88, 'git_min'...",2017-06-02T10:27:00+00:00,1d310c07c6b0fbe4774203ba5dd6571311ff3a46
4,la-haute-borne-data-2009-2012,"{'cosphi_avg': 1.0, 'rt_avg': 23.99, 'git_min'...",2017-06-02T10:27:00+00:00,ec26480e7d20ae2b386b84f84b8b9e2a92ba1803

In [10]:
pd.DataFrame(list(df['fields']))

,ba_avg,ba_max,ba_min,ba_std,cm_avg,cm_max,cm_min,cm_std,cosphi_avg,cosphi_max,...,ws_min,ws_std,ya_avg,ya_max,ya_min,ya_std,yt_avg,yt_max,yt_min,yt_std
0,-1.000000,-1.000000,-1.000000,0.00,2441.68990,2871.9900,1620.39000,238.910000,1.00,0.0,...,3.15,0.64,234.980000,234.980000,234.980000,0.000000,22.940001,23.100000,20.600000,0.73
1,-1.000000,-1.000000,-1.000000,0.00,2188.79000,3494.3301,1233.56010,534.989990,-1.00,0.0,...,3.19,0.95,245.950000,245.950000,245.950000,0.000000,22.799999,23.000000,21.100000,0.60
2,-1.000000,-1.000000,-1.000000,0.00,3078.91990,3253.8201,3008.98000,54.099998,1.00,0.0,...,4.43,0.51,13.270000,13.270000,13.270000,0.000000,27.450001,29.600000,27.200001,0.73
3,-1.000000,-1.000000,-1.000000,0.00,2847.15990,4999.1401,1409.68010,847.929990,1.00,0.0,...,3.02,1.02,256.929990,256.929990,256.929990,0.000000,21.440001,21.900000,18.200001,1.13
4,44.990002,44.990002,44.990002,0.00,-4.71000,-4.4900,-4.94000,0.070000,1.00,0.0,...,1.51,0.26,53.880001,53.880001,53.880001,0.000000,29.750000,30.000000,28.600000,0.40
5,-1.000000,-1.000000,-1.000000,0.00,595.33002,705.0600,494.57001,44.520000,-1.00,0.0,...,2.39,0.26,30.830000,30.830000,30.830000,0.000000,32.509998,32.599998,32.349998,0.07
6,-1.000000,-0.580000,-1.000000,0.03,3898.26000,5805.9302,1613.39000,794.060000,1.00,0.0,...,4.37,1.32,280.700010,290.950010,277.780000,5.380000,19.850000,20.200001,17.900000,0.61
7,-1.000000,-1.000000,-1.000000,0.00,2912.20000,3583.5500,1479.93990,576.880000,1.00,0.0,...,3.98,0.88,282.209990,286.560000,265.709990,8.229999,21.940001,25.900000,21.900000,1.17
8,-1.000000,-1.000000,-1.000000,0.00,1535.06010,1782.8199,1164.14000,148.880000,-0.99,0.0,...,2.67,0.48,265.709990,265.709990,265.709990,0.000000,26.950001,27.000000,25.900000,0.31
9,44.990002,44.990002,44.990002,0.00,-4.16000,-3.9300,-4.37000,0.070000,1.00,0.0,...,0.00,0.00,312.899990,312.899990,312.899990,0.000000,24.910000,25.200001,24.900000,0.06