# Using Pandas With a Remote MySQL Server

We can do this only if we have access via the firewall -- they are normally blocking port 3306 which is needed for connecting to a SQL server.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

You need to "pip install" pymysql. Open a terminal window (not the one that is running your Jupyter notebook server) and type "pip install pymysql".

In [2]:
import pymysql

In [3]:
server = "analyst-toolbelt.cn119w37trlg.eu-west-1.rds.amazonaws.com"
username = "emlyon1"
password = "student1"

In [23]:
## we have 2 others - emlyon2 and student2, and emlyon3 and student3

In [4]:
connection = pymysql.connect(host=server,
                             user=username,
                             password=password,
                             db='mydb',
                             charset='utf8')

OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 60] Operation timed out)')

In [7]:
SQL = "Select * from movies where genres like '%Action%'"

In [8]:
movies = pd.read_sql(SQL, connection)

In [9]:
movies

,movieId,title,genres
0,6,Heat (1995),Action|Crime|Thriller
1,9,Sudden Death (1995),Action
2,10,GoldenEye (1995),Action|Adventure|Thriller
3,15,Cutthroat Island (1995),Action|Adventure|Romance
4,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
5,23,Assassins (1995),Action|Crime|Thriller
6,42,Dead Presidents (1995),Action|Crime|Drama
7,44,Mortal Kombat (1995),Action|Adventure|Fantasy
8,66,Lawnmower Man 2: Beyond Cyberspace (1996),Action|Sci-Fi|Thriller
9,70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
10,71,Fair Game (1995),Action
11,76,Screamers (1995),Action|Sci-Fi|Thriller
12,78,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller
13,86,White Squall (1996),Action|Adventure|Drama
14,89,Nick of Time (1995),Action|Thriller
15,95,Broken Arrow (1996),Action|Adventure|Thriller
16,98,Shopping (1994),Action|Thriller
17,110,Braveheart (1995),Action|Drama|War
18,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime
19,145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller
20,151,Rob Roy (1995),Action|Drama|Romance|War
21,153,Batman Forever (1995),Action|Adventure|Comedy|Crime
22,160,Congo (1995),Action|Adventure|Mystery|Sci-Fi
23,163,Desperado (1995),Action|Romance|Western
24,165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller
25,168,First Knight (1995),Action|Drama|Romance
26,170,Hackers (1995),Action|Adventure|Crime|Thriller
27,172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller
28,173,Judge Dredd (1995),Action|Crime|Sci-Fi
29,181,Mighty Morphin Power Rangers: The Movie (1995),Action|Children
...,...,...,...
1515,136800,Robot Overlords (2014),Action|Adventure|Sci-Fi
1516,136816,Bad Asses on the Bayou (2015),Action|Comedy
1517,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Fantasy|Sci-Fi
1518,138036,The Man from U.N.C.L.E. (2015),Action|Adventure|Comedy
1519,139130,Afro Samurai (2007),Action|Adventure|Animation|Drama|Fantasy
1520,139642,Southpaw (2015),Action|Drama
1521,140711,American Ultra (2015),Action|Comedy|Sci-Fi|Thriller
1522,143472,Into the Grizzly Maze (2015),Action|Horror|Thriller
1523,146309,The Boy and the Beast (2015),Action|Adventure|Animation
1524,147426,?tiraz?m Var (2014),Action|Crime|Drama
1525,148168,Pek Yak?nda (2014),Action|Comedy|Drama
1526,149406,Kung Fu Panda 3 (2016),Action|Adventure|Animation
1527,149612,Swelter (2014),Action|Drama|Thriller
1528,150401,Close Range (2015),Action|Crime
1529,150548,Sherlock: The Abominable Bride (2016),Action|Crime|Drama|Mystery|Thriller
1530,152079,London Has Fallen (2016),Action|Crime|Thriller
1531,152081,Zootopia (2016),Action|Adventure|Animation|Children|Comedy
1532,156607,The Huntsman Winter's War (2016),Action|Adventure|Drama|Fantasy
1533,157407,I Am Wrath (2016),Action|Crime|Drama|Thriller
1534,158956,Kill Command (2016),Action|Horror|Sci-Fi
1535,159093,Now You See Me 2 (2016),Action|Comedy|Thriller
1536,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy
1537,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi
1538,160271,Central Intelligence (2016),Action|Comedy
1539,160438,Jason Bourne (2016),Action
1540,160563,The Legend of Tarzan (2016),Action|Adventure
1541,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi
1542,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi
1543,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi
1544,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi

In [10]:
SQL = "Select * from tags Limit 10"

In [11]:
movies = pd.read_sql(SQL, connection)

In [12]:
movies

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765
5      15    35957                    short  1141391873
6      15    37729               dull story  1141391806
7      15    45950               powerpoint  1169616291
8      15   100365                 activist  1425876220
9      15   100365              documentary  1425876220